<div class='container'><div><h1>Cocktails List</h1></div>

    <div class='container'>
    <div class="d-flex flex-row justify-content-center">
    <div class="col-10" style="list-inline">
        <% @cocktails.each do |cocktail| %>
                <ul><li>
                        <%= link_to cocktail do %>
                        <div class="card-product flex-grow">
                            <%= cl_image_tag("srjq0ofjwezbirpxch0k",
                                width: 400, height: 300, crop: :fill) %>

                            <div class="card-product-infos">
                                <%= cocktail.name %>
                                : 
                                <% cocktail.doses.each do |dose| %>
                                    <%= dose.full_description %>
                                <% end %>
                            </div>
                            <% end %>
                        </div>
                    </li></ul>
        <% end %>
    </div>
    </div>
    </div>

    <%= link_to "Add Cocktail", new_cocktail_path, class: "btn btn-primary btn-lg" %>

</div>
